@page "/catalog"
@inject ICatalog Catalog
@inject NavigationManager NavigationManager

<head>
    <link href="/css/catalog.css" rel="stylesheet" />
</head>

@*<h3>Каталог нашего магазина</h3>*@
<div>
<table class="custom-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена в рублях</th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in products)
{
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
}
    </tbody>
</table>
</div>

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Catalog.GetProductsAsync();
    }
    private void NavigateToProductPage(Guid productId)
    {
        NavigationManager.NavigateTo($"/products/{productId}");
    }
}
