@page "/products/{ProductId:guid}"
@inject NavigationManager NavigationManager
@inject ICatalog Catalog

<h3>@_product.Name</h3>

<div>@_product.ToString()</div>

@code {
    [Parameter]
    public Guid ProductId { get; set; }
    private Product _product;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _product = await Catalog.GetProductByIdAsync(ProductId);
    }
}
